
.Main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;

  h1 {
    color: #1f2c35;
  }

  &Container {
    width: 100%;
    // background-color: #F8F8F8;
  }
}
.stepContainer {
  height: auto;
  min-height: 450px;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  // background-color: #ffffff;
  // box-shadow: 0 0 10px rgba(0,0,0,0.05);
  // border-radius: 10px;    
  padding: 40px;
}
.stepHeader {
  display: flex;
  // justify-content: center;

  &Ques {
    h1 {
      font-size: 22px;
      font-weight: 200;
    }
  }
}

.stepForm {
  position: relative;
  display: flex;
  // justify-content: center;
  // align-items: center;
  margin: 20px 0 0;

  .stepButtons {
    margin: 40px 0 0;
    display: flex;
    width: 100%;
    // justify-content: center;
  }

  form {
    position: relative;
    // max-width: 400px;
  }
}
.stepOne {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/welcome_tr.png), url(../../assets/welcome_br.png);
  background-position: top right, bottom right;
  background-size: 70% auto, 70% auto;
  background-repeat: no-repeat;

  .stepButtons {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 32px;
    font-weight: 500;
    color: #1f2c35;
    text-align: center;
  }
  p {
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 200;

    small {
      font-size: 12px;
    }
  }
}

