.Main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-image: url(../../assets/welcome_br.png);
  background-position: right bottom;
  background-size: 60%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &Container {
    width: 100%;
  }
}
.stepContainer {
  height: auto;
  min-height: 450px;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px; 

  @media screen and (max-width: 668px) {
    padding: 20px 0;
  }
}
.stepHeader {
  display: flex;
  // justify-content: center;

  &Ques {
    h1 {
      color: #131d32;
      font-size: 36px;
      font-weight: 100;
      margin: 0;

      @media screen and (max-width: 668px) {
        font-size: 24px;
      }
    }
  }
}

.stepForm {
  position: relative;
  display: flex;
  // justify-content: center;
  // align-items: center;
  margin: 20px 0 0;

  .stepButtons {
    margin: 40px 0 0;
    display: flex;
    width: 100%;
    // justify-content: center;
  }

  form {
    position: relative;
    // max-width: 400px;
  }
}
.stepOne {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/welcome_tr.png),
    url(../../assets/welcome_br.png);
  background-position: top right, bottom right;
  background-size: 70% auto, 70% auto;
  background-repeat: no-repeat;

  .stepButtons {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 32px;
    font-weight: 500;
    color: #1f2c35;
    text-align: center;
  }
  p {
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 200;

    small {
      font-size: 12px;
    }
  }
}
