@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


$my-blue: (
  50: #f1f8ff,
  100: #ebf2ff,
  200: #e2eaff,
  300: #d3dbf9,
  400: #b0b8d4,
  500: #9098b4,
  600: #68708a,
  700: #545c75,
  800: #353d55,
  900: #131D32,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);


$my-accent: (
  50: #e3f7fb,
  100: #b9ecf4,
  200: #8fe0ec,
  300: #6ad3e3,
  400: #58c9dc,
  500: #53bfd5,
  600: #4dafc2,
  700: #469aa8,
  800: #408690,
  900: #366265,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

// below creates a primary palette with three shades of blue
$custom-theme-app: mat-palette($my-blue, 900);
$custom-theme-app-accent:  mat-palette($my-accent, 500, 100, 400);

// The warn palette is optional (defaults to red).
$custom-theme-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$custom-theme-app-theme: mat-light-theme($custom-theme-app, $custom-theme-app-accent, $custom-theme-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($custom-theme-app-theme);



body {
  font-family: 'Roboto', sans-serif;
  color: #989898;
}

.mat-step-header .mat-step-icon {
  font-size: 8px;
}
.mat-stepper-horizontal {
  background-color: transparent;
}

.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
  background-color: transparent !important;
}

.mat-radio-button {
  margin-top: 12px;
  background-color: #b9ecf4;
  border-radius: 4px;
}
.mat-radio-label {
  padding: 8px 12px 8px 8px;
}
.mat-radio-outer-circle {
  border-color: #469aa8;
}
.mat-radio-label-content {
  color: #408690;
  margin-left: 12px;
  border-left: 1px solid #469aa8;
}
.mat-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-step-header .mat-step-label {
  display: none;
}