<section class="Home">
  <div class="HomeContainer">
    <h1>
      Estado de RRHH en Latam
    </h1>
    <p>
      Esta encuesta está compuesta de 15 preguntas que abordan las siguientes
      dimensiones: Percepción, Desempeño y Tecnología. Se busca que sea
      respondida por miembros del área de RRHH*, así como personas de otras
      áreas para conocer la percepción que tienen del departamento de gestión
      del talento humano.
      <br />
      <small>
        *En tu empresa se puede llamar Área de Talento Humano, de Capital
        Humano, de Gestión Humana, o de Gestión de Personas. <br><i>tiempo estimado de respuesta 10 minutos</i>
      </small>
    </p>
    <div class="homeButton">
      <button mat-raised-button color="primary" routerLink="/dashboard">
        Siguiente
      </button>
    </div>
  </div>
</section>
